.first-part {
  background: linear-gradient(to left, #89c290, #46b450, #1a8040, #0f6e56);
  width: 100vw;
  height: 800px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 1200px;
  position: absolute;
  top: 0;
}

.nav-links {
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 36px;
}
.nav-links a {
  text-decoration: none !important;
  color: white !important;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.nav-links a:hover {
  cursor: pointer;
  color: #9bef6b !important;
}

.nav-links a:active {
  font-weight: 700;
  text-decoration: underline #9bef6b;
}

.auth-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.auth-links a {
  text-decoration: none !important;
  color: white !important;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.login {
  height: 40px;
  width: 90px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;
  border-right: 2px solid #bac1c9;
}
.demo {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 2px rgb(230, 228, 228);
  width: 148px;
  height: 36px;
  border-radius: 30px;
}

.demo {
  transition: all 0.3s ease;
}

.demo:hover {
  background: rgba(0, 129, 0, 1.9);
  border-color: rgba(0, 129, 0, 1.9);
}

.Signup {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 2px #162d45;
  background: #162d45;
  width: 88px;
  height: 36px;
  border-radius: 30px;
}

.text-img {
  margin-top: 80px;
  width: 1300px;
  height: 700px;
  display: flex;
  flex-direction: row;
}

.Text {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}
.main-text {
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: italic;
  color: #f0f0f0;
  font-size: 78px;
  margin-left: 30px;
}

.sub-text {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 28px;
  color: #f0f0f0;
  margin: 0px 0px 100px 30px;
}

.explore {
  margin: -80px 0px 0px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background: #ffc300;
  width: 156px;
  height: 38px;
  transition: all 0.3s ease;
}

.explore:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.explore a {
  text-decoration: none;
  color: white !important;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.first-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
