@font-face {
  font-family: "Sprat";
  src: url("../assets/Fonts/sprat-main/fonts/Sprat-CondensedMedium.woff")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

.big-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 48px;
  padding-top: 100px;
  background-color: #fafafa;
}
.quote {
  font-size: 48px;
  font-family: "Sprat";
  font-weight: 400;
  font-style: normal;
}
.Review {
  margin-top: -80px;
}
