<<<<<<< HEAD
@import "tailwindcss";
=======
@tailwind base;
@tailwind components;
@tailwind utilities;
>>>>>>> eabff70c2990fd226a504826b6907cec1d305635

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}